<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content:center;
        }

        h1{
            margin:0;
        }

        a{
            text-decoration: none;
            color:white;
        }

        button{
            background: rgb(48, 73, 236);
            border-radius: 3px;
            height:4%;
            width:12%;
        }

        .pnf{
            width:100vh;
            height:100vh;
            display: flex;
            align-items: center;
            justify-content:center;
            flex-direction: column;
            gap:0px;
        }
    </style>
</head>
<body>
    <div class="pnf">
        <h1>Error 404</h1>
        <h1>Page not found</h1>
        <button><a href="/">Homepage</a></button>
    </div>
</body>
</html>